Dictionary----->1.Collection of key and value pairs.
                2.Access the vlaue from key
                3.Mutable Data type
                4.Iterable data type
                5.Ordered Data Type

In [1]:
d={'key':'Value'}

In [2]:
d[0]

KeyError: 0

In [3]:
d['key']

'Value'

In [8]:
d=dict([['key','value']])

In [9]:
d

{'key': 'value'}

In [10]:
id(d)

2424254565832

In [11]:
d['Name']='Samyak'

In [12]:
d

{'key': 'value', 'Name': 'Samyak'}

In [13]:
id(d)

2424254565832

In [14]:
hash(d)

TypeError: unhashable type: 'dict'

In [15]:
d=dict()

d['A']='B'
d['C']='D'
d['E']='F'

In [17]:
d#ordered sequence

{'A': 'B', 'C': 'D', 'E': 'F'}

In [18]:
d

{'A': 'B', 'C': 'D', 'E': 'F'}

In [19]:
print(*d)

A C E

In [20]:
print(**d)

TypeError: 'A' is an invalid keyword argument for print()

In [21]:
for i in d:
    print(i)

A
C
E

In [22]:
l=[i for i in dir(dict) if i[0].islower()]

In [23]:
print(*l)

clear copy fromkeys get items keys pop popitem setdefault update values

In [24]:
d

{'A': 'B', 'C': 'D', 'E': 'F'}

In [25]:
d['A']

'B'

In [26]:
d['C']

'D'

In [28]:
d['E']

'F'

In [29]:
d['Name']

KeyError: 'Name'

In [30]:
d.get('A')

'B'

In [31]:
d.get('C')

'D'

In [32]:
d.get('E')

'F'

In [33]:
d.get('Name')

In [34]:
d.get('Course','Python')

'Python'

In [35]:
d.get('age',20)

20

In [36]:
d['age']=21

In [37]:
d

{'A': 'B', 'C': 'D', 'E': 'F', 'age': 21}

In [38]:
d.get('age',20)

21

In [39]:
print(*d)

A C E age

In [40]:
d={'Name':'Sachin','Course':'Ds','age':25}

In [41]:
for i in d:
    print(i)

Name
Course
age

In [42]:
for i in d.keys():
    print(i)

Name
Course
age

In [43]:
for i in d.values():
    print(i)

Sachin
Ds
25

In [44]:
for i in d.items():
    print(i)

('Name', 'Sachin')
('Course', 'Ds')
('age', 25)

In [45]:
d.keys()

dict_keys(['Name', 'Course', 'age'])

In [46]:
d.values()

dict_values(['Sachin', 'Ds', 25])

In [47]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'Ds'), ('age', 25)])

In [48]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [50]:
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
for i in range(len(l1)):
    for j in range(i,i+1):
        print(l1[i]+l2[j])

7
9
11
13
15

In [53]:
x=zip(l1,l2)

In [54]:
x

In [55]:
print(*x)

(1, 6) (2, 7) (3, 8) (4, 9) (5, 10)

In [56]:
for i in zip(l1,l2):
    print(i)

(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)

In [57]:
for i,j in zip(l1,l2):
    print(i,j)

1 6
2 7
3 8
4 9
5 10

In [59]:
for i,j in zip(l1,l2):
    print(f"addition of {i} and {j} : {i+j}")

addition of 1 and 6 : 7
addition of 2 and 7 : 9
addition of 3 and 8 : 11
addition of 4 and 9 : 13
addition of 5 and 10 : 15

In [60]:
l1=[1,2,3,4,5,6,7]

In [61]:
l2=[1,2,3,3,4]

In [62]:
for i in zip(l1,l2):
    print(i)

(1, 1)
(2, 2)
(3, 3)
(4, 3)
(5, 4)

In [63]:
l1=[i for i in range(2,21,2)]
l2=[i for i in range(5,51,5)]
l3=[i for i in range(10,101,1)]
l4=[i for i in range(20,201,20)]
for a,b,c,d in zip(l1,l2,l3,l4):
    print(a,b,c,d,sep='\t')

2	5	10	20
4	10	11	40
6	15	12	60
8	20	13	80
10	25	14	100
12	30	15	120
14	35	16	140
16	40	17	160
18	45	18	180
20	50	19	200

In [64]:
for a,b,c,d in zip(l1,l2,l3,l4):
    print(f"{a :>5}{b:>5}{c:>5}{d:>5}")

    2    5   10   20
    4   10   11   40
    6   15   12   60
    8   20   13   80
   10   25   14  100
   12   30   15  120
   14   35   16  140
   16   40   17  160
   18   45   18  180
   20   50   19  200

In [65]:
for a,b,c,d in zip(l1,l2,l3,l4):
    print(f"{a :<5}{b:<5}{c:<5}{d:<5}")

2    5    10   20
4    10   11   40
6    15   12   60
8    20   13   80
10   25   14   100
12   30   15   120
14   35   16   140
16   40   17   160
18   45   18   180
20   50   19   200

In [66]:
d

200

In [67]:
d={'name':'samyak','course':'ds','age':23}

In [68]:
d.keys()

dict_keys(['name', 'course', 'age'])

In [69]:
d.values()

dict_values(['samyak', 'ds', 23])

In [71]:
d.items()

dict_items([('name', 'samyak'), ('course', 'ds'), ('age', 23)])

In [72]:
for i in d.items():
    print(i)

('name', 'samyak')
('course', 'ds')
('age', 23)

In [73]:
for i,j in d.items():
    print(i,j)

name samyak
course ds
age 23

In [75]:
for i,j in zip(d.keys(),d.values()):
    print(f'{i}---->{j}')

name---->samyak
course---->ds
age---->23

In [76]:
for i in d:
    print(d[i])

samyak
ds
23

In [ ]:
#d[i]---->value

In [78]:
for i in d.values():
    print(d[i])

KeyError: 'samyak'

In [77]:
d['ds']

KeyError: 'ds'

In [79]:
d={'A':'B','B':'C','C':"D",'D':'B'}

In [80]:
d['A']

'B'

In [81]:
d['B']

'C'

In [82]:
for i in d.values():
    print(d[i])

C
D
B
C

In [83]:
for i in d.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [84]:
for i in d.items():
    print(d)

{'A': 'B', 'B': 'C', 'C': 'D', 'D': 'B'}
{'A': 'B', 'B': 'C', 'C': 'D', 'D': 'B'}
{'A': 'B', 'B': 'C', 'C': 'D', 'D': 'B'}
{'A': 'B', 'B': 'C', 'C': 'D', 'D': 'B'}

In [86]:
for i in range(1,len(d)):
    print(len(d)/i)

4.0
2.0
1.3333333333333333

In [87]:
len(d)

4

In [88]:
d={'A':{},
   'B':{},
   'C':{}
  }

In [89]:
d['A']

{}

In [90]:
d['B']

{}

In [91]:
d['C']

{}

In [92]:
for i in d:
    print(i)

A
B
C

In [93]:
d

{'A': {}, 'B': {}, 'C': {}}

In [94]:
d['A']={'Name':'Samyak'}
d['B']={'Name':'Sachin'}
d['C']={'Name':'Rajat'}

In [95]:
d

{'A': {'Name': 'Samyak'}, 'B': {'Name': 'Sachin'}, 'C': {'Name': 'Rajat'}}

In [97]:
d['A']

{'Name': 'Samyak'}

In [99]:
d['B']

{'Name': 'Sachin'}

In [100]:
d['C']

{'Name': 'Rajat'}

In [101]:
d

{'A': {'Name': 'Samyak'}, 'B': {'Name': 'Sachin'}, 'C': {'Name': 'Rajat'}}

In [102]:
for i in d:
    print(d[i])

{'Name': 'Samyak'}
{'Name': 'Sachin'}
{'Name': 'Rajat'}

In [103]:
for i in d:
    print(d[i]['Name'])

Samyak
Sachin
Rajat

In [104]:
d['Name']

KeyError: 'Name'

In [105]:
d.keys()

dict_keys(['A', 'B', 'C'])

In [106]:
d['A']['Name']

'Samyak'

In [107]:
d['B']['Name']

'Sachin'

In [108]:
d['C']['Name']

'Rajat'

In [109]:
#Bank Application----->bank={1001:{'Name','Bal','Pwd'}}

In [110]:
#irctc--->{12954:{name,start,dest,duration,stopage:[]}}

In [111]:
#key----->Immutable Data Type

In [112]:
d={[1,2,3]:[1,2,3]}

TypeError: unhashable type: 'list'