In [1]:
#Conditiional
#Iteration

1.Arithmatic Operator----->+,-,*,/,//,%,**
2.Logical Operator-------->and,or,not
3.Relational Operator-----><,>,<=,>=,==,!=
4.Bitwise Operator-------->&,|,^,~,<<,>>
5.Assignment Operator----->=,+=,-=,*=,/=,//=,%=
6.Identity Operator------->is is not
7.Membership Operator-----> in not in

In [2]:
5**2

25

In [3]:
pow(5,2)

25

#Logical And---->And Gate---->True and True---->True
                              False and x--->False
                              True and False---->False
                              
                 OR Gate---->True or x------>true
                             False or False--> False
                             False or True---> True
                             
                 not gate---->True----->False
                              False---->True

In [4]:
#0,None,blank('',[],(),{}),False

In [6]:
True and True and True and True and False

False

In [9]:
False or False or False or False or False or True

True

In [10]:
4<5

True

In [11]:
7>8

False

In [12]:
9!=9

False

In [13]:
9==9

True

In [18]:
7 and 5 and 1 and 2 and 7 and 9

9

In [15]:
7 or 5

7

In [19]:
0 and 8

0

In [21]:
print(None and 9)

None

In [22]:
7 or 8

7

In [23]:
None or False or 5 or -8 or '' or 6

5

In [25]:
not(True and True)

False

In [26]:
not(False or False)

True

In [27]:
x=10

In [28]:
x=x+1

In [29]:
x

11

In [30]:
x+=1

In [31]:
x

12

In [32]:
x+=1

In [33]:
x

13

In [34]:
x-=1

In [35]:
x

12

In [36]:
x*=2

In [37]:
x

24

In [38]:
x/=2

In [39]:
x

12.0

In [40]:
x%=9

In [41]:
x

3.0

In [42]:
x=10

In [44]:
import random
l=[random.randint(1,10) for i in range(10)]

In [45]:
if x in l:
    print('X in l')
else:
    print('X not in l')

X in l

In [46]:
l

[7, 3, 3, 8, 10, 3, 7, 4, 1, 2]

In [48]:
x=int(input('Enter a number'))
l=[i for i in range(2,21,2)]
if x in l:
    print('Number is divisibel by 2')
else:
    print('Number is not divisibel by 2')

Enter a number17
Number is not divisibel by 2

In [50]:
x=int(input('Enter a number'))
l=[i for i in range(2,21,2)]
if x not in l:
    print('Number is not divisible by 2')
else:
    print('Number is divisibel by 2')

Enter a number12
Number is divisibel by 2

In [51]:
x='hello'

In [52]:
y=x.copy()

AttributeError: 'str' object has no attribute 'copy'

In [53]:
y=x

In [54]:
x

'hello'

In [55]:
y

'hello'

In [56]:
id(x)

2287672976136

In [57]:
id(y)

2287672976136

In [58]:
x is y

True

In [59]:
x=45

In [60]:
y=45

In [61]:
x is y

True

In [62]:
x is not y

False

In [63]:
x=123456

In [64]:
y=123456

In [65]:
x is y

False

In [66]:
id(x)

2287672708592

In [67]:
id(y)

2287672708464

In [68]:
x=230
y=230

In [69]:
x is y

True

In [70]:
id(x)

140718174810080

In [71]:
id(y)

140718174810080

In [72]:
id(256)

140718174810912

In [73]:
x=256

In [74]:
y=256

In [75]:
id(x)

140718174810912

In [76]:
id(y)

140718174810912

In [77]:
x=257
y=257

In [78]:
id(x)

2287672708848

In [79]:
id(y)

2287672708528

In [80]:
#Bitwise Operator-----> & | ^ ~

In [81]:
#Binary Values----->0,1

In [82]:
bin(34)

'0b100010'

In [83]:
oct(45)

'0o55'

In [84]:
hex(12345)

'0x3039'

In [85]:
5 & 7

5

In [86]:
5 | 7

7

In [87]:
bin(5)

'0b101'

In [88]:
bin(7)

'0b111'

101
111
____
101---->5---->and
111---->7---->or
010---->2---->x-or

In [90]:
~(34)

-35

In [91]:
bin(34)

'0b100010'

In [92]:
bin(-35)

'-0b100011'

In [93]:
#-100010+1

100010
     1
_______
100011

In [94]:
10<<2

40

In [95]:
10>>2

2

In [96]:
bin(10)

'0b1010'

In [97]:
#0000 0000
#0000 1010
#0010 1000

In [98]:
#0000 0000 
#0000 0010

In [99]:
#Precedence Table--->

In [100]:
import pandas as pd

In [119]:
df=pd.read_csv('precedence.csv')

In [117]:
df.drop(df['Unnamed: 0'],inplace=True)

In [118]:
df

Empty DataFrame
Columns: [Unnamed: 0, Operator, Description]
Index: []

In [122]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [123]:
df

,Operator,Description
0,**,Exponentiation (raise to the power)
1,~ + -,"Complement, unary plus and minus (method names..."
2,* / % //,"Multiply, divide, modulo and floor division"
3,+ -,Addition and subtraction
4,>> <<,Right and left bitwise shift
5,&,Bitwise 'AND'td>
6,^ |,Bitwise exclusive `OR' and regular `OR'
7,<= < > >=,Comparison operators
8,<> == !=,Equality operators
9,= %= /= //= -= += *= **=,Assignment operators
10,is is not,Identity operators
11,in not in,Membership operators
12,not or and,Logical operators

In [125]:
#2**3**2

In [126]:
x=5 and 7

In [127]:
x

7

In [128]:
x=5 and 0 and 1 and 4

In [129]:
x

0

In [ ]:
x=78986&(9766**(76456*(9656^79)))

In [1]:
!mkdir('hello')