In [1]:
#Log File---->

In [13]:
import time
f=open('log.txt','w')

f.write('*Log Data*'.center(120,' '))

s=f"\nTime\t\tDiscription"
f.write(s)

f.close()

In [14]:
!type log.txt

                                                       *Log Data*
Time		Discription

In [15]:
import shelve

In [20]:
db=shelve.open('hello.db',writeback=True)

In [21]:
db['1001']={'Name':'Sachin'}
db['1002']={'Name':'Samyak'}

db['last_acc']=1002

In [22]:
db.close()

In [23]:
!type hello.db.dat

€}q X   NameqX   Sachinqs.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 €}q X   NameqX   Samyakqs.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 €Mê.

In [26]:
def signup():
    d={'Name':input()}
    db=shelve.open('hello.db',writeback=True)
    acc=db['last_acc']+1
    db['last_acc']=acc
    db[str(acc)]=d
    db.close()

In [27]:
signup()

nidhi

In [29]:
db=shelve.open('hello.db')

In [30]:
db['1001']

{'Name': 'Sachin'}

In [31]:
db['1002']

{'Name': 'Samyak'}

In [33]:
db['1003']

{'Name': 'nidhi'}

In [34]:
db['last_acc']

1003

In [35]:
def login():
    db=shelve.open()
    acc=input('Enter account number')
    if acc in db:
        pwd=input('Enter Password')
        if pwd==db[acc]['Pwd']:
            print('Login')
        else:
            print('Invalid Password')
    else:
        print('Account not exist')

In [36]:
import os

In [40]:
db=shelve.open('supermarket/data.db',writeback=True)

In [42]:
db['stationary']=stationary
db['electronics']=electronics
db['cosmatic']=cosmatic
db['chocolate']=chocolate

In [43]:
db.close()

In [37]:
import time
import shelve
c=1
l=['Catagory\tProduct\tBrand\tQty.\tRs./Qt.\tTotal']
def main():
    global c
    if c==1:
        for i in '***WELCOME TO OUR SERVICE***'.center(120,' '):
            time.sleep(0.001)
            print(i,end='')
        c+=1
    s='''\n1.Stationary\n2.Electronics\n3.Cosmatic\n4.Chocolate\n5.Exit'''
    print(s)
    ch=int(input('Enter choice from above: '))
    if ch==1:
        stationary()
    elif ch==2:
        electronics()
    elif ch==3:
        cosmatic()
    elif ch==4:
        chocolate()
    else:
        exit()
def exit():
    l1=list()
    for i in l:
        l1.append(i.split('\t'))
    for i in range(len(l1)):
        for j in range(len(l1[i])):
            print(f"{l1[i][j]:>15}",end='\t')
        print()
        print('_'*100)
    sum1=0
    for i in range(1,len(l1)):
        sum1+=int(l1[i][-1])
    print('Grand Total: '.ljust(90,' '),sum1)
    print('Thanks for using our sevice')
    for i in '..........Exciting..........':
        time.sleep(0.1)
        print(i,end='')
        
        
def stationary():
    global l
    db=shelve.open('supermarket/data.db',writeback=True)
    c=1
    for i in db['stationary']:
        print(f"{c}.{i}")
        c+=1
    print(f"{c}.Main")
    ch=int(input('Enter choice from above: '))
    if ch==1:
        c=1
        for i in db['stationary']['pen']['brand']:
            print(f"{c}.{i}")
            c+=1
        ch=int(input('select pen: '))
        if ch==1:
            print('Avialable prices are: ',db['stationary']['pen']['brand']['link']['price'])
            price=int(input('Enter price from above'))
            try:
                index1=db['stationary']['pen']['brand']['link']['price'].index(price)
                qt=int(input('Enter quantity of pen'))
                db['stationary']['pen']['brand']['link']['stock'][index1]-=qt
                l.append(f'Stationary\tPen\tLink\t{qt}\t{price}\t{qt*price}')
                print(f'You purchased {qt} set of pen')
                db.close()
                stationary()
            except Exception:
                print('Price not avialable')
                stationary()
            
        elif ch==2:
            print('Avialable prices are: ',db['stationary']['pen']['brand']['fine']['price'])
            price=int(input('Enter price from above'))
            try:
                index1=db['stationary']['pen']['brand']['fine']['price'].index(price)
                qt=int(input('Enter quantity of pen'))
                db['stationary']['pen']['brand']['fine']['stock'][index1]-=qt
                print(f'You purchased {qt} set of pen')
                l.append(f'Stationary\tPen\tFine\t{qt}\t{price}\t{qt*price}')
                db.close()
                stationary()
            except Exception:
                print('Price not avialable')
                stationary()
        else:
            print('Not Avialable')
            stationary()
        
        
    elif ch==2:
        c=1
        for i in db['stationary']['register']['brand']:
            print(f"{c}.{i}")
            c+=1
        ch=int(input('select register: '))
        if ch==1:
            print('Avialable prices are: ',db['stationary']['register']['brand']['classmate']['price'])
            price=int(input('Enter price from above'))
            try:
                index1=db['stationary']['register']['brand']['classmate']['price'].index(price)
                qt=int(input('Enter quantity of register'))
                db['stationary']['register']['brand']['classmate']['stock'][index1]-=qt
                l.append(f'Stationary\tRegister\tClassmate\t{qt}\t{price}\t{qt*price}')
                print(f'You purchased {qt} set of register')
                db.close()
                stationary()
            except Exception:
                print('Price not avialable')
                stationary()
            
        elif ch==2:
            print('Avialable prices are: ',db['stationary']['register']['brand']['icon']['price'])
            price=int(input('Enter price from above'))
            try:
                index1=db['stationary']['register']['brand']['icon']['price'].index(price)
                qt=int(input('Enter quantity of register'))
                db['stationary']['register']['brand']['icon']['stock'][index1]-=qt
                l.append(f'Stationary\tRegister\tIcon\t{qt}\t{price}\t{qt*price}')
                print(f'You purchased {qt} set of register')
                db.close()
                stationary()
            except Exception:
                print('Price not avialable')
                stationary()
        else:
            print('Not Avialable')
            stationary()
    elif ch==3:
        c=1
        for i in db['stationary']['books']:
            print(f"{c}.{i}")
            c+=1
        ch=int(input('select books: '))
        if ch==1:
            qt=int(input('How many set you required'))
            db['stationary']['books']['class VI']['stock']-=qt
            print(f'You purcahsed {qt} set of books')
            price=db['stationary']['books']['class VI']['price']
            l.append(f'Stationary\tBook\tNA\t{qt}\t{price}\t{qt*price}')
            db.close()
            stationary()
        elif ch==2:
            qt=int(input('How many set you required'))
            db['stationary']['books']['class VII']['stock']-=qt
            print(f'You purcahsed {qt} set of books')
            price=db['stationary']['books']['class VII']['price']
            l.append(f'Stationary\tBook\tNA\t{qt}\t{price}\t{qt*price}')
            db.close()
            stationary()
        elif ch==3:
            qt=int(input('How many set you required'))
            db['stationary']['books']['class VIII']['stock']-=qt
            print(f'You purcahsed {qt} set of books')
            price=db['stationary']['books']['class VIII']['price']
            l.append(f'Stationary\tBook\tNA\t{qt}\t{price}\t{qt*price}')
            db.close()
            stationary()
        elif ch==4:
            qt=int(input('How many set you required'))
            db['stationary']['books']['class IX']['stock']-=qt
            print(f'You purcahsed {qt} set of books')
            price=db['stationary']['books']['class IX']['price']
            l.append(f'Stationary\tBook\tNA\t{qt}\t{price}\t{qt*price}')
            db.close()
            stationary()
        elif ch==5:
            qt=int(input('How many set you required'))
            db['stationary']['books']['class X']['stock']-=qt
            print(f'You purcahsed {qt} set of books')
            price=db['stationary']['books']['class X']['price']
            l.append(f'Stationary\tBook\tNA\t{qt}\t{price}\t{qt*price}')
            db.close()
            stationary()
        else:
            print('Class not avialable')
            stationary()
    else:
        print('Please select valid input')
        main()

In [38]:
main()

                                              ***WELCOME TO OUR SERVICE***
1.Stationary
2.Electronics
3.Cosmatic
4.Chocolate
5.Exit
Enter choice from above: 1
1.pen
2.register
3.books
4.Main
Enter choice from above: 1
1.link
2.fine
select pen: 2
Avialable prices are:  [5, 10]
Enter price from above10
Enter quantity of pen2
You purchased 2 set of pen
1.pen
2.register
3.books
4.Main
Enter choice from above: 2
1.classmate
2.icon
select register: 1
Avialable prices are:  [50, 80]
Enter price from above50
Enter quantity of register2
You purchased 2 set of register
1.pen
2.register
3.books
4.Main
Enter choice from above: 3
1.class VI
2.class VII
3.class VIII
4.class IX
5.class X
select books: 1
How many set you required2
You purcahsed 2 set of books
1.pen
2.register
3.books
4.Main
Enter choice from above: 4
Please select valid input

1.Stationary
2.Electronics
3.Cosmatic
4.Chocolate
5.Exit
Enter choice from above: 5
       Catagory	        Product	          Brand	           Qty.	        Rs./Qt.	          Total
____________________________________________________________________________________________________
     Stationary	            Pen	           Fine	              2	             10	             20
____________________________________________________________________________________________________
     Stationary	       Register	      Classmate	              2	             50	            100
____________________________________________________________________________________________________
     Stationary	           Book	             NA	              2	            500	           1000
____________________________________________________________________________________________________
Grand Total:                                                                               1120
Thanks for using our sevice
..........Exciting..........

In [24]:
l

['Catagory\tProduct\tBrand\tQty.\tRs./Qt.\tTotal',
 'Stationary\tBook\tNA\t2\t700\t1400']

In [26]:
l1

[['Catagory', 'Product', 'Brand', 'Qty.', 'Rs./Qt.', 'Total'],
 ['Stationary', 'Book', 'NA', '2', '700', '1400']]

In [31]:
l1=list()
for i in l:
    l1.append(i.split('\t'))
for i in range(len(l1)):
    for j in range(len(l1[i])):
        print(f"{l1[i][j]:>15}",end='\t')
    print()
    print('_'*100)

       Catagory	        Product	          Brand	           Qty.	        Rs./Qt.	          Total
____________________________________________________________________________________________________
     Stationary	           Book	             NA	              2	            700	           1400
____________________________________________________________________________________________________

In [32]:
main()

1.Stationary
2.Electronics
3.Cosmatic
4.Chocolate
5.Exit
Enter choice from above: 1
1.pen
2.register
3.books
4.Main
Enter choice from above: 1
1.link
2.fine
select pen: 1
Avialable prices are:  [5, 10]
Enter price from above10
Enter quantity of pen2
You purchased 2 set of pen
1.pen
2.register
3.books
4.Main
Enter choice from above: 2
1.classmate
2.icon
select register: 2
Avialable prices are:  [50, 60]
Enter price from above60
Enter quantity of register2
You purchased 2 set of register
1.pen
2.register
3.books
4.Main
Enter choice from above: 3
1.class VI
2.class VII
3.class VIII
4.class IX
5.class X
select books: 3
How many set you required2
You purcahsed 2 set of books
1.pen
2.register
3.books
4.Main
Enter choice from above: 4
Please select valid input

1.Stationary
2.Electronics
3.Cosmatic
4.Chocolate
5.Exit
Enter choice from above: 5
Thanks for using our sevice
..........Exciting..........

In [33]:
l1=list()
for i in l:
    l1.append(i.split('\t'))
for i in range(len(l1)):
    for j in range(len(l1[i])):
        print(f"{l1[i][j]:>15}",end='\t')
    print()
    print('_'*100)

       Catagory	        Product	          Brand	           Qty.	        Rs./Qt.	          Total
____________________________________________________________________________________________________
     Stationary	           Book	             NA	              2	            700	           1400
____________________________________________________________________________________________________
     Stationary	            Pen	           Link	              2	             10	             20
____________________________________________________________________________________________________
     Stationary	       Register	           Icon	              2	             60	            120
____________________________________________________________________________________________________
     Stationary	           Book	             NA	              2	            700	           1400
____________________________________________________________________________________________________