#Tuple---->1.Collection of similar and different data types.
           2.Immutable data type
           3.Iterable data type
           4.ordered
           5.subscriptable

In [1]:
t=(1,2,3,4,)

In [2]:
t=(1,2,3,'hey',[1,2,'hey'])

In [3]:
t

(1, 2, 3, 'hey', [1, 2, 'hey'])

In [4]:
id(t)

1929310569576

In [5]:
type(t)

tuple

In [7]:
t=1,2,3,4,

In [8]:
t

(1, 2, 3, 4)

In [9]:
hash(t)

485696759010151909

In [10]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [11]:
l=[i for i in dir(list)]
print(*l)

__add__ __class__ __contains__ __delattr__ __delitem__ __dir__ __doc__ __eq__ __format__ __ge__ __getattribute__ __getitem__ __gt__ __hash__ __iadd__ __imul__ __init__ __init_subclass__ __iter__ __le__ __len__ __lt__ __mul__ __ne__ __new__ __reduce__ __reduce_ex__ __repr__ __reversed__ __rmul__ __setattr__ __setitem__ __sizeof__ __str__ __subclasshook__ append clear copy count extend index insert pop remove reverse sort

In [12]:
l=[i for i in dir(list) if i[0].islower() ]

In [13]:
print(*l,sep='\n')

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [14]:
t=(1,2,3,4,4,5)

In [20]:
t=(1,2,3,4,[1,2,3])

In [21]:
id(t)

1929312241536

In [16]:
t[1]

2

In [22]:
t[-1]

[1, 2, 3]

In [23]:
t[-1].append('hello')

In [24]:
id(t)

1929312241536

In [25]:
id(t[-1])

1929311605256

In [26]:
t[-1].append('hello')

In [27]:
t

(1, 2, 3, 4, [1, 2, 3, 'hello', 'hello'])

In [28]:
id(t[-1])

1929311605256

In [29]:
id(t)

1929312241536

In [30]:
t=(1,2,3,4,)

In [31]:
t1=(5,6,7,8)

In [32]:
t

(1, 2, 3, 4)

In [33]:
t1

(5, 6, 7, 8)

In [34]:
t+t1

(1, 2, 3, 4, 5, 6, 7, 8)

In [35]:
t*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [36]:
t=(1,2,3,4,3,4,3,4,5,6)

In [37]:
t.count(4)

3

In [38]:
t.index(4)

3

In [39]:
t.rindex(5)

AttributeError: 'tuple' object has no attribute 'rindex'

In [40]:
for i in t:
    print(i)

1
2
3
4
3
4
3
4
5
6

In [41]:
print(*t)

1 2 3 4 3 4 3 4 5 6

In [42]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
3
4
3
4
5
6

In [43]:
sum(t)

35

In [44]:
len(t)

10

In [45]:
min(l
   )

'append'

In [46]:
min(t)

1

In [47]:
max(t
   )

6

In [53]:
import random
l=[random.randint(50,100) for i in range(30)]

In [54]:
print(*l)

69 82 52 66 54 82 99 93 83 100 64 56 51 80 59 84 94 51 51 87 94 63 100 80 67 83 97 93 65 84

In [55]:
sum(l)

2283

In [56]:
avg=sum(l)/len(l)

In [57]:
print(round(avg,2))

76.1

In [58]:
max(l)

100

In [59]:
min(l)

51

In [60]:
for i in l:
    print(f'{i}---->{l.count(i)}')

69---->1
82---->2
52---->1
66---->1
54---->1
82---->2
99---->1
93---->2
83---->2
100---->2
64---->1
56---->1
51---->3
80---->2
59---->1
84---->2
94---->2
51---->3
51---->3
87---->1
94---->2
63---->1
100---->2
80---->2
67---->1
83---->2
97---->1
93---->2
65---->1
84---->2

In [63]:
from collections import Counter

In [64]:
Counter(l)

Counter({69: 1,
         82: 2,
         52: 1,
         66: 1,
         54: 1,
         99: 1,
         93: 2,
         83: 2,
         100: 2,
         64: 1,
         56: 1,
         51: 3,
         80: 2,
         59: 1,
         84: 2,
         94: 2,
         87: 1,
         63: 1,
         67: 1,
         97: 1,
         65: 1})

In [66]:
print(*l)

69 82 52 66 54 82 99 93 83 100 64 56 51 80 59 84 94 51 51 87 94 63 100 80 67 83 97 93 65 84

In [67]:
l.sort()

In [70]:
l[-3]

99

In [77]:
print(*l,sep=',')

51,51,51,52,54,56,59,63,64,65,66,67,69,80,80,82,82,83,83,84,84,87,93,93,94,94,97,99,100

In [80]:
l=[51,51,51,52,54,56,59,63,64,65,66,67,69,80,80,82,82,83,83,84,84,87,93,93,94,94,97,99,100,100,100,100,100]
l.sort()
x=max(l)
while True:
    if l.count(x)>1:
        l.remove(x)
    else:
        break

In [75]:
print(*l)

51 51 51 52 54 56 59 63 64 65 66 67 69 80 80 82 82 83 83 84 84 87 93 93 94 94 97 99 100

In [82]:
print(f'Runner up score is: {l[-2]}')

Runner up score is: 99

In [83]:
#Tuple Comprehension

In [84]:
l=[i for i in range(1,10)]#iterators
t=(i for i in range(1,10))#generators

In [85]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
l.__sizeof__()

168

In [88]:
t

In [89]:
print(t)

<generator object <genexpr> at 0x000001C1343A11B0>

In [90]:
print(*t)#Lazy Evaluation

1 2 3 4 5 6 7 8 9

In [91]:
t.__sizeof__()

96

In [92]:
print(*t)

In [93]:
t=(i for i in range(1,10))

In [94]:
t

In [95]:
print(*t)

1 2 3 4 5 6 7 8 9

In [98]:
l=[i for i in range(1,10000000)]

In [99]:
l.__sizeof__()

81528032

In [100]:
t=(i for i in range(1,100000000000000000000))

In [101]:
t.__sizeof__()

96

In [102]:
t

* **Type Conversion**

In [103]:
t=(1,2,3,4,5)

In [104]:
t[0]

1

In [105]:
t[0]='hey'

TypeError: 'tuple' object does not support item assignment

In [106]:
l=list(t)

In [107]:
l

[1, 2, 3, 4, 5]

In [108]:
l.append(6)

In [109]:
t=tuple(l)

In [110]:
t

(1, 2, 3, 4, 5, 6)

In [111]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [112]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [113]:
list(123)

TypeError: 'int' object is not iterable

In [121]:
list((1))

TypeError: 'int' object is not iterable

In [122]:
p=1
x=(1)
y=(1,)
z=1,

In [123]:
type(p)

int

In [124]:
type(z)

tuple

In [126]:
type(y)

tuple

In [127]:
type(x)

int

In [129]:
list((1234,))

[1234]